body{
    background: #151522;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    -webkit-text-stroke: rgba(255, 255, 255, .01) 0.1px;
}
h1{
    color: #ff3366; 
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}
a{
   color: #ff3366;
}
p{
    margin: 14px 0px;
    font: 14px;
}
strong{
    font-weight: bold;
}
li{
    padding-bottom: 5px; 
    list-style:disc;
}
h3{
    color: #CCC; 
    border-bottom: 1px dotted; 
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 15px;
    position: relative;
}